<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">

<div th:replace= "~{usr/include/head :: head}"></div>
<div th:replace= "~{usr/include/informationSide :: informationSide}"></div>

				<!--Account sidebar end-->
				<div class="col-lg-9 col-md-8">
					<div class="row mb-4">
						<div class="col-lg-9 col-12">
							<h1 class="mb-0 h2">비밀번호 변경</h1>
						</div>
					</div>
					<!--Personal information-->
					<div class="row g-4">
						
						<div class="col-12">
							<div class="card">
								<div class="card-body d-flex flex-column gap-3 p-4">
									<div class="d-flex flex-row justify-content-between">
										<div class="d-flex flex-column gap-2">
											<h3 class="h5 mb-0">비밀번호 확인</h3>
											<p class="mb-0">현재 비밀번호를 입력하세요</p>
										</div>
										<div> <a href="#!" data-bs-toggle="modal" data-bs-target="#passwordModal"><svg
													xmlns="http://www.w3.org/2000/svg" width="16" height="16"
													fill="currentColor" class="bi bi-pencil text-body-tertiary"
													viewBox="0 0 16 16">
													<path
														d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
												</svg></a></div>
									</div>
									<form>
										<div class="password-field position-relative mb-5">
											<label for="accountInforPasswords"
												class="form-label visually-hidden">Password</label>
											<div class="password-field position-relative">
												<input type="password" class="form-control fakePassword"
													id="accountInforPasswords" placeholder="****************"
													required />
												<span><i class="bi bi-eye-slash passwordToggler"></i></span>
												<div class="invalid-feedback">Please enter password.</div>
											</div>
										</div>
										<div class="d-flex flex-md-row flex-column gap-2">
											<button type="button" class="btn btn-dark">예약하기</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						
<!-- 						<div class="col-12"> -->
<!-- 							<div class="card border-danger bg-danger-subtle"> -->
<!-- 								<div class="card-body p-4 d-flex flex-column gap-5"> -->
<!-- 									<div class="d-flex flex-column gap-2"> -->
<!-- 										<h3 class="mb-0 h5 text-danger">Danger Zone</h3> -->
<!-- 										<p class="mb-0">When you delete your account, your public profile will be -->
<!-- 											deactivated immediately. If you change your mind before the <span -->
<!-- 												class="text-danger">14 days</span> are up, sign in with your email and -->
<!-- 											password, and we'll send you a link to reactivate your account.</p> -->
<!-- 									</div> -->

<!-- 									<div> -->
<!-- 										<a href="#!" class=" btn btn-danger" data-bs-toggle="modal" -->
<!-- 											data-bs-target="#deleteModal">Delete Account</a> -->
<!-- 									</div> -->


<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
					</div>
				</div>

			</div>

		</div>
	</section>
	
	<script type="text/javascript">
		
		
		
	</script>

<div  th:relace= "~{usr/include/footer :: footer}"></div>
</html>