<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{usr/include/head :: head}"></div>
<div th:replace="~{usr/include/informationSide :: informationSide}"></div>

				<!--Account sidebar end-->
				<div class="col-lg-9 col-md-8">
					<div class="row mb-4">
						<div class="col-lg-9 col-12">
							<h1 class="mb-0 h2">비밀번호 변경</h1>
						</div>
					</div>
					<!--Personal information-->
					<div class="row g-4">
						
						<div class="col-12">
							<div class="card">
								<div class="card-body d-flex flex-column gap-3 p-4">
									<form>
										
										<div>
											<div class="d-flex flex-column gap-2">
												<h3 class="h5 mb-3">현재 비밀번호</h3>
											</div>
											<div class="password-field position-relative mb-5">
												<div class="password-field position-relative">
													<input type="password" class="form-control fakePassword"
														id="accountInforPasswords" placeholder="****************"
														required />
													<div class="invalid-feedback">현재 비밀번호를 입력해주세요</div>
												</div>
											</div>
										</div>
										
										<div>
											<div class="d-flex flex-column gap-2">
												<h3 class="h5 mb-3">새 비밀번호</h3>
											</div>
											<div class="password-field position-relative mb-5">
												<div class="password-field position-relative">
													<input type="password" class="form-control fakePassword"
														id="accountInforPasswords" placeholder="****************"
														required />
													<div class="invalid-feedback">새 비밀번호를 입력해주세요</div>
												</div>
											</div>
										</div>
										
										<div>
											<div class="d-flex flex-column gap-2">
												<h3 class="h5 mb-3">새 비밀번호 확인</h3>
											</div>
											<div class="password-field position-relative mb-5">
												<div class="password-field position-relative">
													<input type="password" class="form-control fakePassword"
														id="accountInforPasswords" placeholder="****************"
														required />
													<div class="invalid-feedback">새 비밀번호와 동일하게 입력해주세요</div>
												</div>
											</div>
										</div>
										
										<div class="d-flex flex-md-row flex-column gap-2">
											<button type="button" class="btn btn-dark">변경</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section>
	
<script type="text/javascript">
	
</script>

<div th:relace="~{usr/include/footer :: footer}"></div>
</html>