<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">

<div th:replace= "~{usr/include/head :: head}"></div>
<div th:replace= "~{usr/include/informationSide :: informationSide}"></div>

        <!--Account sidebar end-->
        <div class="col-lg-9 col-md-8">
          <div class="row g-3 mb-4 align-items-center">
            <div class="col-lg-9 col-md-6 col-4">
              <h1 class="mb-0 h2">예약내역</h1>
            </div>




          </div>
          <div class="row g-3 mb-4">
            <div class="col-lg-8 col-12">
            </div>





          </div>
          
            <!--Product-->
             <!-- Hoverable rows -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">예약 유형</th>
      <th scope="col">예약 장소</th>
      <th scope="col">금액</th>
      <th scope="col">예약 시작일</th>
      <th scope="col">예약 종료일</th>
      <th scope="col">예약 요청일</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="item:${items}">
      <th scope="row" th:text ="${item?.reservation_id}">1</th>
      <td th:text ="${item?.parent_type}">예약 유형</td>
      <td th:text ="${item?.parent_id}">예약 장소</td>
      <td th:text ="500">금액</td>
      <td th:text ="${item?.start_time}">예약 시작일</td>
      <td th:text ="${item?.end_time}">예약 종료일</td>
      <td th:text ="${item?.createdtime}">예약 요청일</td>
    </tr>
  </tbody>
</table>
            <!--Product-->



              </div>




	<script type="text/javascript">
		
		
		
	</script>

<div  th:relace= "~{usr/include/footer :: footer}"></div>
</html>