<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">

<div th:replace= "~{usr/include/head :: head}"></div>
<div th:replace= "~{usr/include/starReview :: starReview}"></div>


	<!--Blog single start-->
	<div class="py-lg-5 pt-6">
		<div class="container">
			<div class="row">
				<article class="col-lg-12 mx-auto">

						<!--Breadcrumb start-->
	<div class="container py-1">
		<div class="row">
			<div class="col-12 py-2">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb mb-0">
						<li class="breadcrumb-item"><a href="/index"><b>홈</b></a></li>
						<li class="breadcrumb-item"><a href="/bada/travel/list"><b>여행지 목록 </b></a></li>
						<li class="breadcrumb-item active" aria-current="page"><b th:text ="${list.sareaDtlNm}">여행지</b></li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
					
						<!--Product start-->
<section class="pb-lg-8">
  <div class="container">
    <div class="row gy-4 gy-lg-0">
      <!-- Product image -->
      <div class="col-lg-6">
        <div>
          <!-- Main image wrapped with GLightbox link -->
          <a href="/usr/assets/images/blog/blog-img-1.jpg"
            data-gallery="product-images" id="mainImageLink">
            <img id="mainProductImage" src="/usr/assets/images/blog/blog-img-1.jpg" alt="Gray color"
              class="img-fluid imgLoop" />
          </a>
        </div>
      </div>

      <!-- Product details -->
      <div class="col-lg-6 mb-5">
        <div class="ps-lg-4">
          <div class="d-flex align-items-start justify-content-between mt-3 mb-2">
            <div class="mb-3">
				<input type="hidden" id="parentId" th:value="${item.seaId}">
				<input type="hidden" id="parentType" value="1">
              <h2 th:text ="${list.sareaDtlNm}">여행지</h2>
            </div>
			<!-- 즐겨찾기 버튼 -->
			<button id="favoriteBtn" class="btn p-0 border-0 bg-transparent d-flex align-items-center gap-2 mt-2 " data-sea-id="${item?.seaId}">
			  <svg id="heartIcon" xmlns="http://www.w3.org/2000/svg" width="23" height="20"
			       stroke="#dc3545" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
			       class="feather feather-heart">
				   <path id="heartPath"
				     style="fill: #fff;"
				     d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
				   </path>
			  </svg>
			  <span class="ms-1 text-danger">즐겨찾기</span>
			</button>


          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center gap-3">
              <p class="mb-0">
                <span class="text-dark">500원</span>
              </p>
            </div>
            <span>
              4.5
            </span>
          </div>

          <hr class="my-3" />
          <div class="d-flex flex-md-row flex-column gap-2">
			<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">지도보기</button>
            <a th:href="@{/sea/contact(seaId=${item.seaId})}" class="btn btn-outline-dark">1:1문의</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 바다여행 지수 도표 시작-->
				<div class="my-3">
              		<h2>바다여행 지수</h2>
            	</div>

				<div class="table-responsive">
  					<table class="table">
    					<thead>
      						<tr>
        						<th scope="col">날짜</th>
        						<th scope="col">시간</th>
        						<th scope="col">날씨</th>
        						<th scope="col">기온(℃)</th>
        						<th scope="col">수온(℃)</th>
        						<th scope="col">파고(m)</th>
        						<th scope="col">풍속(m/s)</th>
        						<th scope="col">바다여행지수</th>
      						</tr>
    					</thead>
    					<tbody>
      						<tr th:each="item:${items}">
        						<td th:text="${item.predcYmd}">1</td>
        						<td th:text="${item.predcNoonSeCd}">Cell</td>
        						<td th:text="${item.avgArtmp}">Cell</td>
        						<td th:text="${item.avgWtem}">Cell</td>
        						<td th:text="${item.avgWvhgt}">Cell</td>
        						<td th:text="${item.avgCrsp}">Cell</td>
       		 					<td th:text="${item.weather}">Cell</td>
        						<td th:text="${item.totalIndex}">Cell</td>
      						</tr>
   						</tbody>
  					</table>
				</div>


<!-- 바다여행 지수 도표 끝-->
<!-- Review Start -->
					<div class="mb-6" id="review">
						<!-- Ajax -->
					</div>
					<!-- Review End -->
					
					
					
				</article>
			</div>
		</div>
	</div>
	<!--Blog single end-->
	
	
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">위치</h1>
        <input type="hidden" id="lat" th:value="${list.lat}">
        <input type="hidden" id="lot" th:value="${list.lot}">
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div id="map" style="width:100%;height:500px;"></div>
      </div>
    </div>
  </div>
</div>
	<!--Blog end-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript">
		
	  const thumbnails = document.querySelectorAll('label.btn img');
	  const mainImage = document.getElementById('mainProductImage');

	  thumbnails.forEach(thumbnail => {
	    thumbnail.addEventListener('click', () => {
	      mainImage.src = thumbnail.src;
	    });
	  });
		
	</script>
	
	<script type="text/javascript">

		document.addEventListener("DOMContentLoaded", function () {
		    loadReview();  // 첫 리뷰 로드
		});
		
		// 리뷰 로드
		// 리뷰 로드
			function loadReview() {
			    const parentId = document.getElementById('parentId').value;
			    const parentType = document.getElementById('parentType').value;

			    fetch(`/bada/reviewFragment?parentId=${parentId}&parentType=${parentType}`)
			        .then(res => res.text())
			        .then(html => {
			            document.getElementById("review").innerHTML = html;
		// 	            bindStarEvents();  // 로드 후 별점 다시 바인딩

			            document.querySelector('.btnSubmit').addEventListener('click', () => {
			    	    	saveReview();
			    	    });
			        })
			        .catch(error => console.error("리뷰 로딩 실패: ", error));
			}
		  
		 	// 리뷰 저장
			function saveReview() {
				const content = document.getElementById('contents');

			    if (!content || content.value.trim() === '') {
			        alert("리뷰 내용을 입력해주세요.");
			        return;
			    }

			    const review = {
			    	parentType: document.getElementById('parentType').value,
			    	parentId: document.getElementById('parentId').value,
			    	contents: content.value,
			    	memberId: document.getElementById('memberId').value
			    };

			    fetch('/bada/saveReview', {
			        method: 'POST',
			        headers: { 'Content-Type': 'application/json' },
			        body: JSON.stringify(review)
			    })
			    .then(res => res.json())
			    .then(() => {
			        loadReview();  // 저장 후 리뷰 다시 로드
			    })
			    .catch(err => {
			        console.error(err);
			        alert("저장 중 오류가 발생했습니다.");
			    });
			}

	</script>
	
	<!--즐겨찾기-->
	<script>
		document.addEventListener('DOMContentLoaded', function () {
		   const heartPath = document.getElementById('heartPath');
		   const favoriteBtn = document.getElementById('favoriteBtn');

		   const delNy = "${item?.delNy}";
		   const seaId = favoriteBtn.dataset.seaId;       // 버튼에 sea_id 데이터 속성 필요
		   const memberId = "${memberId}"; 
		   let isFavorited = (delNy == "1");

		   // ✅ 초기 색상 세팅
		   heartPath.style.fill = isFavorited ? '#dc3545' : '#fff';

		   // 클릭 이벤트
		   favoriteBtn.addEventListener('click', function () {
		     isFavorited = !isFavorited;
		     heartPath.style.fill = isFavorited ? '#dc3545' : '#fff';
		   });
		 });
	</script>
	
	
	<!-- kakaoMap -->
	<script type="text/javascript" th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${kakaoApiKey}"></script>
	<script>
		document.getElementById('exampleModal').addEventListener('shown.bs.modal', () => {
			if (!window.kakao) {
				return;
			}
			
			const latitude = document.getElementById('lat').value;
	        const longitude = document.getElementById('lot').value;
			
			const container = document.getElementById('map');
			const options = {
				center: new kakao.maps.LatLng(latitude, longitude),
				level: 3
			};
			
			const map = new kakao.maps.Map(container, options);
			
			const markerPosition = new kakao.maps.LatLng(latitude, longitude);
			const marker = new kakao.maps.Marker({
				position: markerPosition
			});
			
			marker.setMap(map);
		});
		
	</script>
	
<div th:replace= "~{usr/include/footer :: footer}"></div>

</html>