<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<div th:fragment="reviewFragment">
	
		<!-- Review Start -->
		<!-- Review List Start -->
		<h3 class="fs-4 mb-6" th:text="'Total: ' + ${reviewCount}"></h3>
		<div th:each="review : ${reviewList}">
			<div class="d-flex gap-4 mb-6">
				<div>
					<div class="d-flex align-items-md-center flex-md-row flex-column gap-md-3  gap-2 mb-2">
						<h3 class="fs-6 mb-0" th:text="${review.name}">Anita parmar</h3>
						<div class="d-flex flex-row gap-3">
							<span class="small d-flex align-items-center gap-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
									fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
									<path
										d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
									<path
										d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
								</svg>
								<span th:text="${review.createAt}"></span>
							</span>
						</div>
					</div>
					
					<div class="rater star-value" style="background-size: 20px; width: 100%;" title="5/5" data-rating="5"></div>
					
					<p class="mb-4" th:text="${review.contents}"></p>
				</div>
			</div>
		</div>
		<!-- Review List End -->
		
		<!-- Review Form Start -->
		<div class="mb-6">
			<div class="card">
				<div class="card-body p-md-6 p-5">
					<h3 class="mb-3 h5">리뷰를 남겨주세요!</h3>
					<form class="row g-3 needs-validation" novalidate>
						<div class="mb-3 col-12">
							<input type="hidden" id="memberId" value="1">
						</div>
						<div class="col-12">
							<label for="blogsingleFormmessages"
								class="form-label visually-hidden">Comment</label>
							<textarea class="form-control" id="contents" rows="4"
								placeholder="내용" required></textarea>
							<div class="invalid-feedback">Please write comment.</div>
						</div>

						<div class="col-12">
							<button type="button" class="btn btn-primary btnSubmit">제출</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Review Form End -->
		<!-- Review End -->
		
	</div>
	
</html>