<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
   <div th:replace = "~{xdm/include/header :: header}"></div>

         <!-- main -->
         <main class="main-content-wrapper">
            <div class="container">
               <div class="row mb-8">
                  <div class="col-md-12">
                     <!-- page header -->
                     <div class="d-md-flex justify-content-between align-items-center">
                        <div>
                           <h2>숙박업소 목록</h2>
                           <!-- breacrumb -->
                           <nav aria-label="breadcrumb">
                              <ol class="breadcrumb mb-0">
                                 <li class="breadcrumb-item"><a href="#" class="text-inherit">Dashboard</a></li>
                                 <li class="breadcrumb-item active" aria-current="page">Products</li>
                              </ol>
                           </nav>
                        </div>
                        <!-- button -->
                        <div>
                           <a href="add-product.html" class="btn btn-primary">Add Product</a>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- row -->
               <div class="row">
                  <div class="col-xl-12 col-12 mb-5">
                     <!-- card -->
                     <div class="card h-100 card-lg">
                        <div class="px-6 py-6">
                           <div class="row justify-content-between">
                              <!-- form -->
                              <div class="col-lg-4 col-md-6 col-12 mb-2 mb-lg-0">
                                 <form class="d-flex" role="search">
                                    <input class="form-control" type="search" placeholder="Search Products" aria-label="Search" />
                                 </form>
                              </div>
                              <!-- select option -->
                              <div class="col-lg-2 col-md-4 col-12">
                                 <select class="form-select">
                                    <option selected>Status</option>
                                    <option value="1">Active</option>
                                    <option value="2">Deactive</option>
                                    <option value="3">Draft</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <!-- card body -->
                        <div class="card-body p-0">
                           <!-- table -->
                           <div class="table-responsive">
                              <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
                                 <thead class="bg-light">
                                    <tr>
                                    
                                       <th class="text-center">
                                          <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="checkAll" />
                                             <label class="form-check-label" for="checkAll"></label>
                                          </div>
                                       </th>       
                                                                       
                                       <th class="text-center">숙박업소 번호</th>
                                       <th class="text-center">사진</th>
                                       <th class="text-center">숙박업소명</th>
                                       <th class="text-center">전화번호</th>
                                       <th class="text-center">주소</th>
                                       <th class="text-center">위도</th>
                                       <th class="text-center">경도</th>
                                       <th class="text-center">등록일</th>
                                       <th class="text-center">수정일</th>
                                       <th class="text-center">담당자</th>
                                       
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr th:each="item : ${list}">
                                    
                                       <td class="text-center">
                                          <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="productOne" />
                                             <label class="form-check-label" for="productOne"></label>
                                          </div>
                                       </td>
                                       
                                       <td class="text-center" th:text="${item.accomId}"></td>
                                       <td class="text-center" th:text="${item.image}"></td>
                                       <td class="text-center" th:text="${item.title}"></td>
                                       <td class="text-center" th:text="${item.tel}"></td>
                                       <td class="text-center" th:text="${item.address}"></td>
                                       <td class="text-center" th:text="${item.mapx}"></td>
                                       <td class="text-center" th:text="${item.mapy}"></td>
                                       <td class="text-center" th:text="${item.createdtime}"></td>
                                       <td class="text-center" th:text="${item.modifiedtime}"></td>
                                       <td class="text-center" th:text="${item.managerId}"></td>
                                       
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                        <div class="border-top d-md-flex justify-content-between align-items-center px-6 py-6">
                           <span>Showing 1 to 8 of 12 entries</span>
                           <nav class="mt-2 mt-md-0">
                              <ul class="pagination mb-0">
                                 <li class="page-item disabled"><a class="page-link" href="#!">Previous</a></li>
                                 <li class="page-item"><a class="page-link active" href="#!">1</a></li>
                                 <li class="page-item"><a class="page-link" href="#!">2</a></li>
                                 <li class="page-item"><a class="page-link" href="#!">3</a></li>
                                 <li class="page-item"><a class="page-link" href="#!">Next</a></li>
                              </ul>
                           </nav>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </main>
      </div>

      <!-- Libs JS -->
<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
<script src="/xdm/template/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/xdm/template/assets/libs/simplebar/dist/simplebar.min.js"></script>

<!-- Theme JS -->
<script src="/xdm/template/assets/js/theme.min.js"></script>

   </body>
</html>
