<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Favicon icon-->
	<link rel="apple-touch-icon" sizes="180x180" href="/usr/assets/images/favicon/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/usr/assets/images/favicon/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/usr/assets/images/favicon/favicon-16x16.png" />
	<link rel="manifest" href="/usr/assets/images/favicon/site.webmanifest" />
	<link rel="shortcut icon" href="/usr/assets/images/favicon/favicon.ico" />



	<!-- Libs CSS -->
	<link rel="stylesheet" href="/usr/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" />
	<link rel="stylesheet" href="/usr/assets/libs/swiper/swiper-bundle.min.css" />
	<link href="/usr/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet" />
	<!-- Theme CSS -->
	<link rel="stylesheet" href="/usr/assets/css/theme.min.css">

	<title>바다어때 - 로그인</title>
</head>

<body>
	<!--Signin start-->
	<div class="vh-100"
		style="background: url(/usr/assets/images/jpg/sign-bg.jpg) no-repeat; background-position: center; background-size: cover">
		<div class="h-100 d-flex flex-column justify-content-center">
			<div class="container">
				<!--Signin form-->
				<div class="row">
					<div class="col-xl-5 col-lg-7">
						<div class="card  mx-4 border-0">
							<div class="card-body p-md-6 p-4">
								<div class="mb-5 text-center">
									<a href="./index.html"><img src="/usr/assets/images/logo/logo.svg" alt="" /></a>
								</div>
								<div class="mb-3">
									<h1 class="fs-4 mb-0">로그인</h1>
								</div>
								<form action="/login" method="POST" class="needs-validation" novalidate>
									<div class="row g-3">
										<!-- row -->

										<div class="col-12">
											<!-- input -->
											<label for="formSigninEmail" class="form-label visually-hidden">Email
												address</label>
											<input type="text" class="form-control" id="formSigninEmail" name="email"
												placeholder="Email" required />
											<div class="invalid-feedback">이메일을 입력해 주세요.</div>
										</div>
										<div class="col-12">
											<!-- input -->
											<div class="password-field position-relative">
												<label for="formSigninPassword"
													class="form-label visually-hidden">Password</label>
												<div class="password-field position-relative">
													<input type="password" class="form-control fakePassword" name="password"
														id="formSigninPassword" placeholder="*****" required />
													<span><i class="bi bi-eye-slash passwordToggler"></i></span>
													<div class="invalid-feedback">비밀번호를 입력해 주세요.</div>
												</div>
											</div>
										</div>
										<!-- btn -->
										<div class="col-12 d-grid">
											<button type="submit" class="btn btn-primary">로그인</button>
										</div>
										<!-- link -->
										<div>
											아직 회원이 아니신가요?
											<a href="/bada/signUp" class="text-link">회원가입</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Signin end-->
	<!-- Libs JS -->
	<script src="/usr/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Swiper JS -->
	<script src="/usr/assets/libs/swiper/swiper-bundle.min.js"></script>
	<script src="/usr/assets/libs/simplebar/dist/simplebar.min.js"></script>

	<!-- Theme JS -->
	<script src="/usr/assets/js/theme.min.js"></script>
	<script src="/usr/assets/js/vendors/password.js"></script>
	<script src="/usr/assets/js/vendors/validation.js"></script>
	
	
</body>

</html>