<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.module.accom.AccomDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.module.accom.AccomDto"/>
	
	<select id="getAccomList" resultMap="resultMapObj">
		SELECT
			accommodation_id
			,title
			,overview
			,capacity
			,tel
			,address
			,mapx
			,mapy
			,createdtime
			,modifiedtime
			,manager_id
		FROM
			accommodation
	</select>
	
	<select id="getAccomByTitle" resultMap="resultMapObj">
		SELECT
			accommodation_id
			,title
			,overview
			,capacity
			,tel
			,address
			,mapx
			,mapy
			,createdtime
			,modifiedtime
			,manager_id
		FROM
			accommodation
		WHERE
			title = #{title}
	</select>
	
	<insert id="saveAccomApiResponse">
	INSERT INTO accommodation
	(
	title
	,overview
	,capacity
	,tel
	,address
	,mapx
	,mapy
	,createdtime
	,modifiedtime
	,delNy
	,manager_id
	)
	VALUES
	(
	#{title}
	,#{overview}
	,#{capacity}
	,#{tel}
	,#{address}
	,#{mapx}
	,#{mapy}
	,#{createdtime}
	,#{modifiedtime}
	,0
	,#{manager_id}
	)
	</insert>
	
</mapper>