<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.module.sea.SeaDao">
	<resultMap id="resultMapObj" type="com.a7a7.module.sea.SeaDto"/>
	
	<select id="seaList" resultMap="resultMapObj">
		select
			sea_id
			,sareaDtlNm
			,lat
			,lot
		from
			sea
		where 1=1
	</select>
	
	
	<insert id="seaInsert">
	insert into sea(
		sareaDtlNm
		,lat
		,lot
		,createdtime
		,delNy
	)values(
		#{sareaDtlNm}
		,#{lat}
		,#{lot}
		,now()
		,0
	)
	</insert>
	
	
	<select id="forecastList" resultMap="resultMapObj">
		select
			predcYmd
			,predcNoonSeCd
			,avgArtmp
			,avgWspd
			,avgWtem
			,avgWvhgt
			,avgCrsp
			,weather
			,totalIndex
			,sea_id
		from
			forecast
		where 1=1
	</select>
	
	<insert id="forecastInsert">
	insert into forecast(
		predcYmd
		,predcNoonSeCd
		,avgArtmp
		,avgWspd
		,avgWtem
		,avgWvhgt
		,avgCrsp
		,weather
		,totalIndex
		,sea_id
	)values(
		#{predcYmd}
		,#{predcNoonSeCd}
		,#{avgArtmp}
		,#{avgWspd}
		,#{avgWtem}
		,#{avgWvhgt}
		,#{avgCrsp}
		,#{weather}
		,#{totalIndex}
		,#{sea_id}
	)
	</insert>
	
	
	
</mapper>